.carousel {
    width: calc(100vw - 2em - (100vw - 2em - 66vw));
    height: 80vh;
    display: flex;
    max-width: calc(100vw - 2em - (100vw - 2em - 66vw));
    max-height: 80vh;   
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.carousel-item {
  visibility:visible;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
      -webkit-align-items: center;
    -webkit-justify-content: flex-end;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    flex-shrink: 0;
   -webkit-flex-shrink: 0;
    position: absolute;
    z-index: 0;
  transition: 0.6s all linear;
}

.carousel-item__info {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    order: 1;
    left: 0;
    margin: auto;
    padding: 0px 20px;
    width: 40%;
    box-sizing: border-box;
    background: rgb(85 97 69 / 0%);
    box-shadow: 0px 10px 50px 0 rgb(85 97 69 / 21%);
    backdrop-filter: blur( 45px );
    -webkit-backdrop-filter: blur( 45.0px );
    text-align: center;
}

.carousel-item__image {
    width: 60%;
    height: 100%;
    order: 2;
    align-self: flex-end;
    flex-basis: 60%;
  
    -webkit-order: 2;
    -webkit-align-self: flex-end;
    -webkit-flex-basis: 60%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    transform: translateX(100%);
    transition: 0.6s all ease-in-out;
}

.carousel-item__subtitle {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0;
    color: #7E7E7E;    
    font-weight: 700;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s all ease-in-out;
}

.carousel-item__title {
    margin: 15px 0 0 0;
    font-family: 'SF Pro Display';
    font-size: 44px;
    line-height: 45px;
    letter-spacing: 3px;
    font-weight: 700;
    color: #2C2C2C;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.carousel-item__description {
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
    margin-top: 35px;
    font-family: 'SF Pro Display';
    font-size: 13px;
    color: #7e7e7e;
    line-height: 22px;
    margin-bottom: 35px;
}

.carousel-item--1 .carousel-item__image{
    background-image: url('../img/jelsa.jpg');
}


.carousel-item--2 .carousel-item__image{
    background-image: url('https://images.pexels.com/photos/921294/pexels-photo-921294.png?auto=compress&cs=tinysrgb&h=750&w=1260');
}

.carousel-item--3 .carousel-item__image{
    background-image: url('../img/negroni.png');
}

.carousel-item--4 .carousel-item__image{
    background-image: url('https://images.pexels.com/photos/1008732/pexels-photo-1008732.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}

.carousel-item--5 .carousel-item__image{
    background-image: url('https://images.pexels.com/photos/1029614/pexels-photo-1029614.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.carousel-item__btn {
    width: 35%;
    color: #2C2C2C;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0;
    width: 35%;
    font-weight: 700;
    text-decoration: none;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.carousel__nav {
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: #f1faee;
    bottom: 0;
    border-top-left-radius: 10px;
}

.carousel__icon {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    fill: #556145;
}

.carousel__arrow {
    cursor: pointer;
    display: inline-block;
    padding: 11px 15px;
    position: relative;
}

.carousel__arrow:nth-child(1):after {
    content:'';
    right: -3px;
    position: absolute;
    width: 1px;
    background-color: #556145;
    height: 14px;
    top: 50%;
    margin-top: -7px;
}

.active{
    z-index: 4;
    display: flex;
    visibility:visible;
}

.active .carousel-item__subtitle, .active .carousel-item__title, .active .carousel-item__description,.active .carousel-item__btn{
    transform: translateY(0);
    opacity: 1;
    transition: 0.6s all ease-in-out;
    visibility: visible;
}
.active .carousel-item__image{ 
transition: 0.6s all ease-in-out;
transform: translateX(0);
}
@media screen and (prefers-color-scheme: dark) {

    .carousel {
        width: calc(100vw - 2em - (100vw - 2em - 66vw));
        height: 80vh;
        display: flex;
        max-width: calc(100vw - 2em - (100vw - 2em - 66vw));
        max-height: 80vh;   
        overflow: hidden;
        position: relative;
        border-radius: 10px;
    }
    
    .carousel-item {
      visibility:visible;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: flex-end;
          -webkit-align-items: center;
        -webkit-justify-content: flex-end;
        position: relative;
        background-color: rgba(255, 255, 255, 0);
        flex-shrink: 0;
       -webkit-flex-shrink: 0;
        position: absolute;
        z-index: 0;
      transition: 0.6s all linear;
    }
    
    .carousel-item__info {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        -webkit-justify-content: center;
        -webkit-flex-direction: column;
        order: 1;
        left: 0;
        margin: auto;
        padding: 0px 20px;
        width: 40%;
        box-sizing: border-box;
        background: rgb(85 97 69 / 0%);
        box-shadow: 0px 10px 50px 0 rgb(85 97 69 / 0%);
        backdrop-filter: blur( 45px );
        -webkit-backdrop-filter: blur( 45.0px );
        text-align: center;
    }
    
    .carousel-item__image {
        width: 60%;
        height: 100%;
        order: 2;
        align-self: flex-end;
        flex-basis: 60%;
      
        -webkit-order: 2;
        -webkit-align-self: flex-end;
        -webkit-flex-basis: 60%;
      
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position:relative;
        transform: translateX(100%);
        transition: 0.6s all ease-in-out;
    }
    
    .carousel-item__subtitle {
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 3px;
        font-size: 10px;
        text-transform: uppercase;
        margin: 0;
        color: #7E7E7E;    
        font-weight: 700;
        transform: translateY(25%);
        opacity: 0;
        visibility: hidden;
        transition: 0.4s all ease-in-out;
    }
    
    .carousel-item__title {
        margin: 15px 0 0 0;
        font-family: 'SF Pro Display';
        font-size: 44px;
        line-height: 45px;
        letter-spacing: 3px;
        font-weight: 700;
        color: #EAC8BD;
        transform: translateY(25%);
        opacity: 0;
        visibility: hidden;
        transition: 0.6s all ease-in-out;
    }
    
    .carousel-item__description {
        transform: translateY(25%);
        opacity: 0;
        visibility: hidden;
        transition: 0.6s all ease-in-out;
        margin-top: 35px;
        font-family: 'SF Pro Display';
        font-size: 13px;
        color: #7e7e7e;
        line-height: 22px;
        margin-bottom: 35px;
    }
    
    .carousel-item--1 .carousel-item__image{
        background-image: url('../img/jelsa.jpg');
    }
    
    
    .carousel-item--2 .carousel-item__image{
        background-image: url('https://images.pexels.com/photos/921294/pexels-photo-921294.png?auto=compress&cs=tinysrgb&h=750&w=1260');
    }
    
    .carousel-item--3 .carousel-item__image{
        background-image: url('../img/negroni.png');
    }
    
    .carousel-item--4 .carousel-item__image{
        background-image: url('https://images.pexels.com/photos/1008732/pexels-photo-1008732.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    }
    
    .carousel-item--5 .carousel-item__image{
        background-image: url('https://images.pexels.com/photos/1029614/pexels-photo-1029614.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    }
    
    .carousel-item__btn {
        width: 35%;
        color: #2C2C2C;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 3px;
        font-size: 11px;
        text-transform: uppercase;
        margin: 0;
        width: 35%;
        font-weight: 700;
        text-decoration: none;
        transform: translateY(25%);
        opacity: 0;
        visibility: hidden;
        transition: 0.6s all ease-in-out;
    }
    
    .carousel__nav {
        position: absolute;
        right: 0;
        z-index: 2;
        background-color: #f1faee;
        bottom: 0;
        border-top-left-radius: 10px;
    }
    
    .carousel__icon {
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        fill: #556145;
    }
    
    .carousel__arrow {
        cursor: pointer;
        display: inline-block;
        padding: 11px 15px;
        position: relative;
    }
    
    .carousel__arrow:nth-child(1):after {
        content:'';
        right: -3px;
        position: absolute;
        width: 1px;
        background-color: #556145;
        height: 14px;
        top: 50%;
        margin-top: -7px;
    }
    
    .active{
        z-index: 1;
        display: flex;
        visibility:visible;
    }
    
    .active .carousel-item__subtitle, .active .carousel-item__title, .active .carousel-item__description,.active .carousel-item__btn{
        transform: translateY(0);
        opacity: 1;
        transition: 0.6s all ease-in-out;
        visibility: visible;
    }
    
    
    
    .active .carousel-item__image{ 
        transition: 0.6s all ease-in-out;
        transform: translateX(0);
    }

}