*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
:root {
    --scrollcolor: #d3b5def7;
    --scrollbackground: #7F6688;
}
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' -25,
        'opsz' 48;
    font-size: 48px;
}
#myNav {
    display: none;
}
@media screen and (prefers-color-scheme: light) {
    .header {
        height: 7.5vh;
        background-color: #5f4b66f7;
    }
    .header ul {
        display: flex;
        height: 100%;
        margin-left: 10%;
        margin-right: 10%;
        flex-direction: row;
        justify-content: space-around;
    }
    .header ul li {
        list-style: none;
        align-self: center;
    }
    .header ul li a {
        font-family: 'SF Pro Display';
        text-decoration: none;
        font-size: 14px;
        color: #f1faee;
        line-height: 3em;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 50% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: 0.5s;
    }
    .header ul li a:hover {
        color: goldenrod;
        background-size: 100% 2px;
        transition: 0.5s;
        transform: translateX(5%);
    }
    .header ul li .call_number:hover {
        background-size: 0% 0px;
        color: #f1faee;
    }
    .call_number {
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        color: #f1faee;
        cursor: pointer;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
    .container, .container_main, .container_course, .container_course_main {
        display: grid;
        gap: 1em;
    }
    .container, .container_course {
        height: 92.5vh;
    }
    .container_main, .container_course_main {
        height: calc(92.5vh - 7.5vh);
        margin-top: 5vh;
    }
    .wrapper {
        text-align: center;
        font-size: 1.5em;
        border-radius: 0.5em;
    }
    .card1, .card3, .card4, .card5 {
        background: rgba(255, 255, 255, 0);
        box-shadow: 0 8px 32px 0 rgba(164,166,154,0.37);
        /* backdrop-filter: blur( 11px ); */
        /* -webkit-backdrop-filter: blur( 11px ); */
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    .card1 {
        justify-content: center;
        width: calc(100vw - 2em - (100vw - 2em - 66vw));
        grid-column: 2;
        height: 80vh;
        margin-top: 6vh;
    }  
    .card2 {
        grid-column: 1;
        grid-row: 1 / span 3;
        width: calc(100vw - 2em - 66vw);
        background-color: rgba(0, 0, 0, 0);
    }
    .card2 .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(95vh - 1em);
        margin: auto;
    }
    .logo h1, .logo h3 {
        font-family: 'Bodoni Moda', serif;
        -webkit-user-select: none;
    }
    .logo h1 {
        font-size: 1.5em;
        background-color: #1d3557;
        color: transparent;
        text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
        -webkit-background-clip: text;
        -moz-background-clip: text;
                background-clip: text;
    }
    .logo h3 {
        color: #1d35575c;
    }
    .logo img {
        -webkit-user-select: none;
    }
    .card5 {
        grid-column: 2 / span 2;
        grid-row: 3;
        width: calc(100vw - 2em - (100vw - 2em - 66vw));;
    }
    footer {
        display: flex;
        height: 5vh;
        justify-content: center;
        background-color: #5f4b66f7;
    }
    footer p {
        align-self: center;
        font-family: 'SF Pro Display';
        font-size: 10px;
        color: #f1faee;
    }
    .box {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 6em;
        height: 3em;
        box-sizing: border-box;
        overflow: hidden;
        box-shadow: 0px 0px 8px #b19eb7;
        border: 1px solid #64506b6e;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
    .box:before {
        content: '';
        position: absolute;
        top: 0;
        left: -10em;
        width: 10em;
        height: 4em;
        background: rgb(255 255 255);
        transition: 0.5s;
        pointer-events: none;
    }
    .box:hover:before {
        left:-50%;
        transform: skewX(-5deg);
    }
    .box .content {
        position:absolute;
        top:15px;
        left:15px;
        right:15px;
        bottom:15px;
        border:1px solid #f0a591;
        padding:20px;
        text-align:center;
        box-shadow: 0 5px 10px rgba(9,0,0,0.5);
        
    }
    .box span{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        box-sizing: border-box;
        
    }
    .box span:nth-child(1) {
        transform:rotate(0deg);
    }
    .box span:nth-child(2) {
        transform:rotate(180deg);
    }
    .box span:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: #64506b;
        animation: animate 3s linear infinite;
        left: 0;
    }
    .box .carousel-item__btn {
        color: #64506bc7;
        width: 100%;
    }
    .row_1, .row_2, .row_3 {
        width: 100%;
        background: rgb(255, 255, 255);
    }
    .row_2, .row_3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 95vh;
    }
    .row_1 {
        height: 92.5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .row_1 h1 {
        font-size: 4em;
        background: -webkit-linear-gradient(#1b1725, #64506B);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'SF Pro Display';
    }
    .scroll {
        position: absolute;
        bottom: 5em;
        width: 24px;
        height: 24px;
        scroll-behavior: smooth;
    }
    .text {
        display: block;
        margin-top: 75px;
        margin-left: -30px;
        font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
        font-size: 12px;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        white-space: nowrap;
        opacity: .25;
        animation: pulse 2s linear alternate infinite;
    }  
    @keyframes pulse {
        to {
        opacity: 1;
        }
    }
    @keyframes animate {
        0% {
            transform:scaleX(0);
            transform-origin: left;
        }
        50%
        {
            transform:scaleX(1);
            transform-origin: left;
        }
        50.1%
        {
            transform:scaleX(1);
            transform-origin: right;  
        }
        100%
        {
            transform:scaleX(0);
            transform-origin: right;
        } 
    }
}
@media screen and (prefers-color-scheme: dark) {
    .header {
        height: 7.5vh;
        background: #e8c8bd0f;
        backdrop-filter: blur( 10.5px );
        -webkit-backdrop-filter: blur( 10.5px );
    }
    .header ul {
        display: flex;
        height: 100%;
        margin-left: 10%;
        margin-right: 10%;
        flex-direction: row;
        justify-content: space-around;
    }
    .header ul li {
        list-style: none;
        align-self: center;
    }
    .header ul li a {
        font-family: 'SF Pro Display';
        text-decoration: none;
        font-size: 14px;
        color: #D6D6D6;
        line-height: 3em;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 50% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: 0.5s;
    }
    .header ul li a:hover {
        color: #E8C8BD;
        background-size: 100% 2px;
        transition: 0.5s;
        transform: translateX(5%);
    }
    .header ul li .call_number:hover {
        background-size: 0% 0px;
        color: #D6D6D6;
    }
    .call_number {
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        color: #E8C8BD;
        cursor: pointer;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
    .container, .container_main {
        display: grid;
        gap: 1em;
    }
    .container_course, .container_course_main {
        display: grid;
        grid-template-columns: calc((100vw - 12em)/3) calc((100vw - 12em)/3) 30%;
        grid-template-rows: auto auto;
        gap: 2.5em;
        padding: 5em;
    }
    .container_course > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
        border-radius: 10px;
    }
    .item_2 .content, .item_3 .content, .item_4 .content, .item_5 .content {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .content .line {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right, transparent, #fbf5dea1, transparent);
    }
    .content .line a {
        text-decoration: none;
        color: #150001;
    }
    .course_link {
        font-family: 'SF Pro Display';
        text-decoration: none;
        margin-left: auto;
        margin-right: auto;
        color: #150001;
    }
    .container_course .item_1, .container_course .item_2, .container_course .item_3,
    .container_course .item_4, .container_course .item_5 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        height: 100%;
        background-color: #150001;
        border-radius: 10px;
        text-align: center;
        line-height: 1.5em;
        font-family: sans-serif;
        position: relative;
        animation: animate_text 2s linear infinite alternate;
    }
    .container_course .item_1 {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-end: 4;
    }
    
    .container_course .item_1::before, .container_course .item_2::before, .container_course .item_3::before,
    .container_course .item_4::before, .container_course .item_5::before {
        content: '';
        position: absolute;
        width: calc(100% + 2%);
        height: calc(100% + 2%);
        border-radius: 0.5em;
        z-index: -1;
        background-image: linear-gradient(60deg, #E8C8BD, #150001, #370000, #150001, #370000, #150001, #E8C8BD);
        background-size: 300%;
        animation: animate_bg 5s infinite;
    }
    
    @keyframes animate_bg {
        0%, 100% {
            background-position: 0%, 50%;
        }
    
        50% {
            background-position: 100%, 50%;
        }
    }

    .container, .container_course {
        height: 92.5vh;
    }
    .container_main, .container_course_main {
        height: calc(92.5vh - 7.5vh);
        margin-top: 5vh;
    }
    .wrapper {
        text-align: center;
        font-size: 1.5em;
        border-radius: 0.5em;
    }
    .card1, .card3, .card4, .card5 {
        background: rgba(255, 255, 255, 0);
        box-shadow: 0 8px 32px 0 rgb(75 70 70 / 51%);
        /* backdrop-filter: blur( 11px ); */
        /* -webkit-backdrop-filter: blur( 11px ); */
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    .card1 {
        justify-content: center;
        width: calc(100vw - 2em - (100vw - 2em - 66vw));
        grid-column: 2;
        height: 80vh;
        margin-top: 6vh;
    }  
    .card2 {
        grid-column: 1;
        grid-row: 1 / span 3;
        width: calc(100vw - 2em - 66vw);
        background-color: rgba(0, 0, 0, 0);
    }
    .card2 .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(95vh - 1em);
        margin: auto;
    }
    .logo h1, .logo h3 {
        font-family: 'Bodoni Moda', serif;
        -webkit-user-select: none;
    }
    .logo h1 {
        font-size: 1.5em;
        background-color: #E8C8BD;
        color: transparent;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
    }
    .logo h3 {
        color: #e8c8bd63;
    }
    .logo img {
        -webkit-user-select: none;
        filter: invert(0.9);
    }
    .card5 {
        grid-column: 2 / span 2;
        grid-row: 3;
        width: calc(100vw - 2em - (100vw - 2em - 66vw));;
    }
    footer {
        display: flex;
        height: 5vh;
        justify-content: center;
        background-color: #e8c8bd0f;
    }
    footer p {
        align-self: center;
        font-family: 'SF Pro Display';
        font-size: 10px;
        color: #f1faee;
    }
    .box {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 6em;
        height: 3em;
        box-sizing: border-box;
        overflow: hidden;
        box-shadow: 0px 0px 18px #fbf5dea1;
        border: 1px solid #e8c8bdde;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }  
    .box:before {
        content: '';
        position: absolute;
        top: 0;
        left: -10em;
        width: 10em;
        height: 4em;
        background: rgb(103 78 74);
        transition: 0.5s;
        pointer-events: none;
    }
    .box:hover:before {
        left:-50%;
        transform: skewX(-5deg);
    }
    .box .content {
        position:absolute;
        top:15px;
        left:15px;
        right:15px;
        bottom:15px;
        border:1px solid #f0a591;
        padding:20px;
        text-align:center;
        box-shadow: 0 5px 10px rgba(9,0,0,0.5);    
    }
    .box span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        box-sizing: border-box;
    }
    .box span:nth-child(1) {
        transform:rotate(0deg);
    }
    .box span:nth-child(2) {
        transform:rotate(180deg);
    }
    .box span:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: #e8c8bd;
        animation: animate 3s linear infinite;
        left: 0;
    }
    .box .carousel-item__btn {
        color: #ccbb9f;
        width: 100%;
    }
    @keyframes animate {
        0% {
            transform:scaleX(0);
            transform-origin: left;
        }
        50% {
            transform:scaleX(1);
            transform-origin: left;
        }
        50.1% {
            transform:scaleX(1);
            transform-origin: right;
        }        
        100% {
            transform:scaleX(0);
            transform-origin: right;
        } 
    }
    /* Bartenders page */
    .container_bartender {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(0,0,0,0);
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-blend-mode: saturation;
    }
    .row_1, .row_2, .row_2_bartending, .row_3{
        width: 100%;
        background: rgb(255, 255, 255);
    }
    .row_1 {
        height: 92.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .row_1 h1 {
        font-size: 8em;
        background: -webkit-linear-gradient(#210C0B, rgb(7, 158, 178));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'SF Pro Display';
    }
    .row_2 {
        height: 95vh;
    }
    /*  */
}