*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
:root {
    --scrollcolor: #d3b5def7;
    --scrollbackground: #7F6688;
}
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' -25,
        'opsz' 48;
    font-size: 48px;
}
@media screen and (prefers-color-scheme: light) {
    .header {
        height: 7.5vh;
        background-color: #5f4b66f7;
    }
    .header ul {
        display: flex;
        height: 100%;
        margin-left: 10%;
        margin-right: 10%;
        flex-direction: row;
        justify-content: space-around;
    }
    .header ul li {
        list-style: none;
        align-self: center;
    }
    .header ul li a {
        font-family: 'SF Pro Display';
        text-decoration: none;
        font-size: 14px;
        color: #f1faee;
        line-height: 3em;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 50% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: 0.5s;
    }
    .header ul li a:hover {
        color: goldenrod;
        background-size: 100% 2px;
        transition: 0.5s;
        transform: translateX(5%);
    }
    .header ul li .call_number:hover {
        background-size: 0% 0px;
        color: #f1faee;
    }
    .call_number {
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        color: #f1faee;
        cursor: pointer;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
    .container, .container_main, .container_course, .container_course_main {
        display: grid;
        gap: 1em;
    }
    .container, .container_course {
        height: 92.5vh;
    }
    .container_main, .container_course_main {
        height: calc(92.5vh - 7.5vh);
        margin-top: 5vh;
    }
    .wrapper {
        text-align: center;
        font-size: 1.5em;
        border-radius: 0.5em;
    }
    .card1, .card3, .card4, .card5 {
        background: rgba(255, 255, 255, 0);
        box-shadow: 0 8px 32px 0 rgba(164,166,154,0.37);
        /* backdrop-filter: blur( 11px ); */
        /* -webkit-backdrop-filter: blur( 11px ); */
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    .card1 {
        justify-content: center;
        width: calc(100vw - 2em - (100vw - 2em - 66vw));
        grid-column: 2;
        height: 80vh;
        margin-top: 6vh;
    }  
    .card2 {
        grid-column: 1;
        grid-row: 1 / span 3;
        width: calc(100vw - 2em - 66vw);
        background-color: rgba(0, 0, 0, 0);
    }
    .card2 .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(95vh - 1em);
        margin: auto;
    }
    .logo h1, .logo h3 {
        font-family: 'Bodoni Moda', serif;
        -webkit-user-select: none;
    }
    .logo h1 {
        font-size: 1.5em;
        background-color: #1d3557;
        color: transparent;
        text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
        -webkit-background-clip: text;
        -moz-background-clip: text;
                background-clip: text;
    }
    .logo h3 {
        color: #1d35575c;
    }
    .logo img {
        -webkit-user-select: none;
    }
    .card5 {
        grid-column: 2 / span 2;
        grid-row: 3;
        width: calc(100vw - 2em - (100vw - 2em - 66vw));;
    }
    footer {
        display: flex;
        height: 5vh;
        justify-content: center;
        background-color: #5f4b66f7;
    }
    footer p {
        align-self: center;
        font-family: 'SF Pro Display';
        font-size: 10px;
        color: #f1faee;
    }
    .box {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 6em;
        height: 3em;
        box-sizing: border-box;
        overflow: hidden;
        box-shadow: 0px 0px 8px #b19eb7;
        border: 1px solid #64506b6e;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
    .box:before {
        content: '';
        position: absolute;
        top: 0;
        left: -10em;
        width: 10em;
        height: 4em;
        background: rgb(255 255 255);
        transition: 0.5s;
        pointer-events: none;
    }
    .box:hover:before {
        left:-50%;
        transform: skewX(-5deg);
    }
    .box .content {
        position:absolute;
        top:15px;
        left:15px;
        right:15px;
        bottom:15px;
        border:1px solid #f0a591;
        padding:20px;
        text-align:center;
        box-shadow: 0 5px 10px rgba(9,0,0,0.5);
        
    }
    .box span{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        box-sizing: border-box;
        
    }
    .box span:nth-child(1) {
        transform:rotate(0deg);
    }
    .box span:nth-child(2) {
        transform:rotate(180deg);
    }
    .box span:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: #64506b;
        animation: animate 3s linear infinite;
        left: 0;
    }
    .box .carousel-item__btn {
        color: #64506bc7;
        width: 100%;
    }
    @keyframes animate {
        0% {
            transform:scaleX(0);
            transform-origin: left;
        }
        50%
        {
            transform:scaleX(1);
            transform-origin: left;
        }
        50.1%
        {
            transform:scaleX(1);
            transform-origin: right;  
        }
        100%
        {
            transform:scaleX(0);
            transform-origin: right;
        } 
    }
    .container_bartender {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(0,0,0,0);
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-blend-mode: saturation;
    }
    .row_1, .row_2, .row_2_bartending, .row_3 {
        width: 100%;
        background: rgb(255, 255, 255);
    }
    .row_1 {
        height: 92.5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .row_1 h1 {
        font-size: 4em;
    }
    .row_1 h1, .textChange b {
        background: -webkit-linear-gradient(#1b1725, #64506B);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'SF Pro Display';
    }
    .textChange {
        display: flex;
        line-height: calc(1em * 1.09);
        position: relative;
    }
    .textChange__container {
        display: inline-block;
        height: 1.1em;
        overflow: hidden;
        transform: translateX(1%);
    }
    .textChange__sprite {
        text-align: center;
        transform: translateY(0px);
        animation: changeWord 36s steps(12) infinite;
    }
    .textChange b {
        display: block;
        line-height: 1.1em;
        animation: blinkWord 3s ease infinite;
        opacity: 0;
        transform-origin: top left;
    }
    @keyframes blinkWord {
        to {
        opacity: 1;
        }
    }
    @keyframes changeWord {
        to {
        transform: translateY(-13.2em);
        }
    }
    .scroll {
        position: absolute;
        bottom: 5em;
        width: 24px;
        height: 24px;
        scroll-behavior: smooth;
    }
    .chevron {
        position: absolute;
        width: 28px;
        height: 8px;
        opacity: 0;
        transform: scale3d(0.5, 0.5, 0.5);
        animation: move 3s ease-out infinite;
    }  
    .chevron:first-child {
        animation: move 3s ease-out 1s infinite;
    } 
    .chevron:nth-child(2) {
        animation: move 3s ease-out 2s infinite;
    } 
    .chevron:before,
    .chevron:after {
        content: ' ';
        position: absolute;
        top: 0;
        height: 100%;
        width: 51%;
        background: #64506B;
    }  
    .chevron:before {
        left: 0;
        transform: skew(0deg, 30deg);
    } 
    .chevron:after {
        right: 0;
        width: 50%;
        transform: skew(0deg, -30deg);
    }
    @keyframes move {
        25% {
        opacity: 1;
    
        }
        33% {
        opacity: 1;
        transform: translateY(30px);
        }
        67% {
        opacity: 1;
        transform: translateY(40px);
        }
        100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
        }
    } 
    .text {
        display: block;
        margin-top: 75px;
        margin-left: -30px;
        font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
        font-size: 12px;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        white-space: nowrap;
        opacity: .25;
        animation: pulse 2s linear alternate infinite;
    }  
    @keyframes pulse {
        to {
        opacity: 1;
        }
    }
    .row_2, .row_2_bartending, .row_3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .row_2, .row_3 {
        height: 95vh;
    }
    .row_2_bartending {
        height: 100vh;
    }
    
    .boxes {
        display: flex;
        justify-content: space-evenly;
    }
    /* .boxes:last-child {
        margin-top: 5vh;
    } */
    .box_small {
        width: 30vw;
        font-size: 1em;
        line-height: 1.5em;
        font-weight: 200;
        padding: 1vw 1vw 1vw;
        border-right: 2px;
        border-left: 0;
        border-style: solid;
        border-image: linear-gradient(to bottom, #FFFFFF, #6b4e75, #ffffff00) 1 100%;
    }
    .box_small:last-child {
        border-right: 0;
    }
    .box_small .icon {
        font-size: 4em;
        color: #555;
        margin-bottom: 0.6em;
    }
    .box_small .icon:hover {
        color: #d8d8d8;
    }
    .box_small h2 {
        font-size: 1.3em;
        margin-bottom: 1em;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: 200;
        line-height: 1em;
        color: #5f4b66f7;
    }
    .box_small .piece-count {
        font-style: italic;
        color: #9f9f9f;
        margin-bottom: 1.2em;
        letter-spacing: 1px;
        font-family: Lora, serif;
    }
    .title {
        font-size: 2.5rem;
        font-family: 'SF Pro Display';
        line-height: 1.1;
        font-weight: 300;
        color: #64506A;
        margin: 4rem auto 1rem;
        width: 85%;
        max-width: 1280px;
    }
    .slider {
        width: 85%;
        max-width: 1280px;
        margin: 0 auto;
    }
    .slider__content {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        display: flex;
        gap: 1rem;
        padding-bottom: 1rem;
        scrollbar-color: var(--scrollcolor) var(--scrollbackground);
    }
    .slider__content::-webkit-scrollbar {
        height: 0.5rem;
        width: 0.5rem;
        border-radius: 1rem;
        background: var(--scrollbackground);
    }
    .slider__content::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        background: var(--scrollcolor);
    }
    .slider__content::-webkit-scrollbar-track {
        border-radius: 1rem;
        background: var(--scrollbackground);
    }
    .slider__item {
        scroll-snap-align: start;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-width: 100%;
        width: 100%;
        border-radius: 0.25rem;
        overflow: hidden;
        position: relative;
        aspect-ratio: 1;
    }
    .slider__info__main {
        display: flex;
        align-items: center;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 3;
        padding: 10%;
    }
    .slider__info__main ul {
        list-style-type: circle;
        width: 100%;
    }
    .slider__info__main ul li {
        font-family: 'SF Pro Display';
        color: rgb(255, 255, 255);
    }
    .ul_additional {
        margin-left: 10%;
    }
    .slider__image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    .slider__info {
        position: relative;
        padding: 4rem 2rem 2rem;
        background: linear-gradient(to top, #342938f7, rgba(32, 50, 57, 0));
    }
    .slider__info h2 {
        color: #fff;
        font-family: system-ui;
        line-height: 1.1;
        font-weight: 300;
        font-size: 1.75rem;
        margin: 0;
    }
    .slider__nav {
        margin: 1rem 0 4rem;
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        align-content: center;
        align-items: center;
        pointer-events: none;
    }
    .slider__nav__button {
        margin: 0;
        appearance: none;
        border: 0;
        border-radius: 2rem;
        background: #fff;
        color: #203239;
        padding: 0.5rem 1rem;
        font-size: 0.75rem;
        line-height: 1;
        pointer-events: none;
        transition: 0.2s ease-out;
        opacity: 0.25;
    }
    .slider__nav__button--active {
        opacity: 1;
        pointer-events: auto;
        cursor: pointer;
    }
    @media (min-width: 940px) {
        .slider__item {
            min-width: calc((100% / 3) - 4rem);
        }
    }
    @media (min-width: 460px) {
        .slider__item {
            aspect-ratio: 0.6666666667;
            min-width: calc((100% / 2) - 2rem);
        }
        .slider__nav {
            justify-content: flex-end;
        }
    }
    /* ----------- iPhone 6, 6S, 7 and 8 ----------- */
    /* ---------------- Portrait ----------- */
    /* iphone 6, 6s, 7, 8 */
    @media only screen
        and (min-device-width: 375px)
        and (max-device-height: 667px)
        and (-webkit-device-pixel-ratio: 2) {
            .header {
                display: none;
            }
            #navMenu {
                display: flex;
                width: 100vw;
                height: 200px;
                position: absolute;
                justify-content: end;
            }
            .hamburger {
                z-index: 9;
                margin: 5%;
                width: 20vw;
                height: 20vw;
                border-radius: 30px;
                background: linear-gradient(145deg, #ffffff, #ffffff);
                box-shadow: inset 0px 0px 4px 0px #52525278,
                            -20px -20px 60px #ffffff;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
            }
            .hamburger span {
                display: block;
                width: 28px;
                height: 2px;
                border-radius: 99999px;
                background-color: #5f4b66f7;
            }
            .hamburger > span:not(:last-child) {
                margin-bottom: 7px;
            }
            .hamburger, .hamburger > span {
                transition: all .4s ease-in-out;
            }
            .hamburger.active {
                transition-delay: 0.8s;
                transform: rotate(45deg);
            }
            .hamburger.active > span:nth-child(2) {
                width: 0;
            }
            .hamburger.active > span:nth-child(1),
            .hamburger.active > span:nth-child(3) {
                transition-delay: .4s;
            }
            .hamburger.active > span:nth-child(1) {
                transform: translateY(9px);
            }
            .hamburger.active > span:nth-child(3) {
                transform: translateY(-9px) rotate(90deg);
            }
            .overlay {
                height: 0%;
                width: 100%;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: rgb(0, 0, 0);
                overflow-y: hidden;
                transition: all .4s ease-in-out;
                overflow-y: auto;
            }
            .overlay a{
                padding: 8px;
                text-decoration: none;
                font-size: 20px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }
            .overlay li {
                margin-left: 0;
            }
            .overlay li a {
                color: #ffe7d9;
                line-height: 3em;
                font-size: 15px;
                text-decoration: none;
                background-image: linear-gradient(currentColor, currentColor);
                background-position: 20% 75%;
                background-repeat: no-repeat;
                background-size: 0% 3px;
                transition: 0.5s;
            }
            .overlay li a:hover {
                color: goldenrod;
            }
            .overlay-content {
                position: relative;
                top: 20%;
                width: 100%;
                text-align: center;
            }
            .header ul {
                display: flex;
                height: 100%;
                margin-left: 10%;
                margin-right: 10%;
                flex-direction: row;
                justify-content: space-around;
            }
            .header ul li {
                list-style: none;
                align-self: center;
            }
            .header ul li a {
                font-family: 'SF Pro Display';
                text-decoration: none;
                font-size: 14px;
                color: #f1faee;
                line-height: 3em;
                background-image: linear-gradient(currentColor, currentColor);
                background-position: 50% 100%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: 0.5s;
            }
            .header ul li a:hover {
                color: goldenrod;
                background-size: 100% 2px;
                transition: 0.5s;
                transform: translateX(5%);
            }
            .header ul li .call_number:hover {
                background-size: 0% 0px;
                color: #f1faee;
            }
            .call_number {
                font-family: 'Open Sans', sans-serif;
                font-weight: 100;
                color: #f1faee;
                cursor: pointer;
            }
            .sticky {
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 1000;
            }
            .container, .container_main, .container_course, .container_course_main {
                display: grid;
                gap: 1em;
            }
            .container, .container_course {
                height: 92.5vh;
            }
            .container_main, .container_course_main {
                height: calc(92.5vh - 7.5vh);
                margin-top: 5vh;
            }
            .wrapper {
                text-align: center;
                font-size: 1.5em;
                border-radius: 0.5em;
            }
            .card1, .card3, .card4, .card5 {
                background: rgba(255, 255, 255, 0);
                box-shadow: 0 8px 32px 0 rgba(164,166,154,0.37);
                /* backdrop-filter: blur( 11px ); */
                /* -webkit-backdrop-filter: blur( 11px ); */
                border-radius: 10px;
                border: 1px solid rgba( 255, 255, 255, 0.18 );
            }
            .card1 {
                justify-content: center;
                width: calc(100vw - 2em - (100vw - 2em - 66vw));
                grid-column: 2;
                height: 80vh;
                margin-top: 6vh;
            }  
            .card2 {
                grid-column: 1;
                grid-row: 1 / span 3;
                width: calc(100vw - 2em - 66vw);
                background-color: rgba(0, 0, 0, 0);
            }
            .card2 .logo {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: calc(95vh - 1em);
                margin: auto;
            }
            .logo h1, .logo h3 {
                font-family: 'Bodoni Moda', serif;
                -webkit-user-select: none;
            }
            .logo h1 {
                font-size: 1.5em;
                background-color: #1d3557;
                color: transparent;
                text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
                -webkit-background-clip: text;
                -moz-background-clip: text;
                        background-clip: text;
            }
            .logo h3 {
                color: #1d35575c;
            }
            .logo img {
                -webkit-user-select: none;
            }
            .card5 {
                grid-column: 2 / span 2;
                grid-row: 3;
                width: calc(100vw - 2em - (100vw - 2em - 66vw));;
            }
            footer {
                display: flex;
                height: 5vh;
                justify-content: center;
                background-color: #5f4b66f7;
            }
            footer p {
                align-self: center;
                font-family: 'SF Pro Display';
                font-size: 10px;
                color: #f1faee;
            }
            .box {
                position: absolute;
                top: 80%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 6em;
                height: 3em;
                box-sizing: border-box;
                overflow: hidden;
                box-shadow: 0px 0px 8px #b19eb7;
                border: 1px solid #64506b6e;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
            }
            .box:before {
                content: '';
                position: absolute;
                top: 0;
                left: -10em;
                width: 10em;
                height: 4em;
                background: rgb(255 255 255);
                transition: 0.5s;
                pointer-events: none;
            }
            .box:hover:before {
                left:-50%;
                transform: skewX(-5deg);
            }
            .box .content {
                position:absolute;
                top:15px;
                left:15px;
                right:15px;
                bottom:15px;
                border:1px solid #f0a591;
                padding:20px;
                text-align:center;
                box-shadow: 0 5px 10px rgba(9,0,0,0.5);
                
            }
            .box span{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: block;
                box-sizing: border-box;
                
            }
            .box span:nth-child(1) {
                transform:rotate(0deg);
            }
            .box span:nth-child(2) {
                transform:rotate(180deg);
            }
            .box span:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background: #64506b;
                animation: animate 3s linear infinite;
                left: 0;
            }
            .box .carousel-item__btn {
                color: #64506bc7;
                width: 100%;
            }
            .container_bartender {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: rgba(0,0,0,0);
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-blend-mode: saturation;
            }
            .row_1, .row_2, .row_2_bartending, .row_3 {
                width: 100%;
                background: rgb(255, 255, 255);
            }
            .row_1 {
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .row_1 h1 {
                font-size: 2em;
            }
            .row_1 .textChange {
                font-size: 1em;
            }
            .row_1 h1, .textChange b {
                background: -webkit-linear-gradient(#a2893c, #64506B);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: 'SF Pro Display';
            }
            .textChange {
                display: flex;
                line-height: calc(1em * 1.09);
                position: relative;
            }
            .textChange__container {
                display: inline-block;
                height: 1.1em;
                overflow: hidden;
                transform: translateX(1%);
            }
            .textChange__sprite {
                text-align: center;
                transform: translateY(0px);
                animation: changeWord 36s steps(12) infinite;
            }
            .textChange b {
                display: block;
                line-height: 1.1em;
                animation: blinkWord 3s ease infinite;
                opacity: 0;
                transform-origin: top left;
            }
            .scroll {
                position: absolute;
                bottom: 5em;
                width: 24px;
                height: 24px;
                scroll-behavior: smooth;
            }
            .chevron {
                position: absolute;
                width: 28px;
                height: 8px;
                opacity: 0;
                transform: scale3d(0.5, 0.5, 0.5);
                animation: move 3s ease-out infinite;
            }  
            .chevron:first-child {
                animation: move 3s ease-out 1s infinite;
            } 
            .chevron:nth-child(2) {
                animation: move 3s ease-out 2s infinite;
            } 
            .chevron:before,
            .chevron:after {
                content: ' ';
                position: absolute;
                top: 0;
                height: 100%;
                width: 51%;
                background: #64506B;
            }  
            .chevron:before {
                left: 0;
                transform: skew(0deg, 30deg);
            } 
            .chevron:after {
                right: 0;
                width: 50%;
                transform: skew(0deg, -30deg);
            }
            .text {
                display: block;
                margin-top: 75px;
                margin-left: -30px;
                font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
                font-size: 12px;
                color: rgb(0, 0, 0);
                text-transform: uppercase;
                white-space: nowrap;
                opacity: .25;
                animation: pulse 2s linear alternate infinite;
            }
            .row_2, .row_2_bartending, .row_3 {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .row_2, .row_3 {
                height: 95vh;
            }
            .row_2_bartending {
                height: 100%;
            }
            
            .boxes {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }
            /* .boxes:last-child {
                margin-top: 5vh;
            } */
            .box_small {
                width: 100%;
                font-size: 1em;
                line-height: 1.5em;
                font-weight: 200;
                padding: 10%;
                text-align: center;
                border-bottom: 2px;
                border-left: 0;
                border-top: 0;
                border-right: 0;
                border-style: solid;
                border-image: linear-gradient(to right, #ffffff, #6b4e75, #ffffff) 1;
            }
            .box_small:last-child {
                border-right: 0;
            }
            .box_small .icon {
                font-size: 4em;
                color: #555;
                margin-bottom: 0.6em;
            }
            .box_small .icon:hover {
                color: #d8d8d8;
            }
            .box_small h2 {
                font-size: 1.3em;
                margin-bottom: 1em;
                text-transform: uppercase;
                letter-spacing: 4px;
                font-weight: 200;
                line-height: 1em;
                color: #5f4b66f7;
            }
            .box_small .piece-count {
                font-style: italic;
                color: #9f9f9f;
                margin-bottom: 1.2em;
                letter-spacing: 1px;
                font-family: Lora, serif;
            }
            .title {
                font-size: 2.5rem;
                font-family: 'SF Pro Display';
                line-height: 1.1;
                font-weight: 300;
                color: #64506A;
                margin: 4rem auto 1rem;
                width: 85%;
                max-width: 1280px;
            }
            .slider {
                width: 85%;
                max-width: 1280px;
                margin: 0 auto;
            }
            .slider__content {
                overflow-x: scroll;
                scroll-snap-type: x mandatory;
                display: flex;
                gap: 1rem;
                padding-bottom: 1rem;
                scrollbar-color: var(--scrollcolor) var(--scrollbackground);
            }
            .slider__content::-webkit-scrollbar {
                height: 0.5rem;
                width: 0.5rem;
                border-radius: 1rem;
                background: var(--scrollbackground);
            }
            .slider__content::-webkit-scrollbar-thumb {
                border-radius: 1rem;
                background: var(--scrollcolor);
            }
            .slider__content::-webkit-scrollbar-track {
                border-radius: 1rem;
                background: var(--scrollbackground);
            }
            .slider__item {
                scroll-snap-align: start;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                min-width: 100%;
                width: 100%;
                border-radius: 0.25rem;
                overflow: hidden;
                position: relative;
                aspect-ratio: 1;
            }
            .slider__info__main {
                display: flex;
                align-items: center;
                position: absolute;
                height: 100%;
                width: 100%;
                z-index: 3;
                padding: 10%;
            }
            .slider__info__main ul {
                list-style-type: circle;
                width: 100%;
            }
            .slider__info__main ul li {
                font-family: 'SF Pro Display';
                color: rgb(255, 255, 255);
            }
            .ul_additional {
                margin-left: 10%;
            }
            .slider__image {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
              }
            .slider__info {
                position: relative;
                padding: 4rem 2rem 2rem;
                background: linear-gradient(to top, #342938f7, rgba(32, 50, 57, 0));
            }
            .slider__info h2 {
                color: #fff;
                font-family: system-ui;
                line-height: 1.1;
                font-weight: 300;
                font-size: 1.75rem;
                margin: 0;
            }
            .slider__nav {
                margin: 1rem 0 4rem;
                width: 100%;
                padding: 0;
                display: flex;
                justify-content: flex-start;
                gap: 1rem;
                align-content: center;
                align-items: center;
                pointer-events: none;
            }
            .slider__nav__button {
                margin: 0;
                appearance: none;
                border: 0;
                border-radius: 2rem;
                background: #fff;
                color: #203239;
                padding: 0.5rem 1rem;
                font-size: 0.75rem;
                line-height: 1;
                pointer-events: none;
                transition: 0.2s ease-out;
                opacity: 0.25;
            }
            .slider__nav__button--active {
                opacity: 1;
                pointer-events: auto;
                cursor: pointer;
            }
        }
}
@media screen and (prefers-color-scheme: dark) {
    .header {
        height: 7.5vh;
        background: #e8c8bd0f;
        backdrop-filter: blur( 10.5px );
        -webkit-backdrop-filter: blur( 10.5px );
    }
    .header ul {
        display: flex;
        height: 100%;
        margin-left: 10%;
        margin-right: 10%;
        flex-direction: row;
        justify-content: space-around;
    }
    .header ul li {
        list-style: none;
        align-self: center;
    }
    .header ul li a {
        font-family: 'SF Pro Display';
        text-decoration: none;
        font-size: 14px;
        color: #D6D6D6;
        line-height: 3em;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 50% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: 0.5s;
    }
    .header ul li a:hover {
        color: #E8C8BD;
        background-size: 100% 2px;
        transition: 0.5s;
        transform: translateX(5%);
    }
    .header ul li .call_number:hover {
        background-size: 0% 0px;
        color: #D6D6D6;
    }
    .call_number {
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        color: #E8C8BD;
        cursor: pointer;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
    .container, .container_main {
        display: grid;
        gap: 1em;
    }
    .container_course, .container_course_main {
        display: grid;
        grid-template-columns: calc((100vw - 12em)/3) calc((100vw - 12em)/3) 30%;
        grid-template-rows: auto auto;
        gap: 2.5em;
        padding: 5em;
    }
    .container_course > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
        border-radius: 10px;
    }
    .item_2 .content, .item_3 .content, .item_4 .content, .item_5 .content {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .content .line {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right, transparent, #fbf5dea1, transparent);
    }
    .content .line a {
        text-decoration: none;
        color: #150001;
    }
    .course_link {
        font-family: 'SF Pro Display';
        text-decoration: none;
        margin-left: auto;
        margin-right: auto;
        color: #150001;
    }
    .container_course .item_1, .container_course .item_2, .container_course .item_3,
    .container_course .item_4, .container_course .item_5 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        height: 100%;
        background-color: #150001;
        border-radius: 10px;
        text-align: center;
        line-height: 1.5em;
        font-family: sans-serif;
        position: relative;
        animation: animate_text 2s linear infinite alternate;
    }
    .container_course .item_1 {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-end: 4;
    }
    
    .container_course .item_1::before, .container_course .item_2::before, .container_course .item_3::before,
    .container_course .item_4::before, .container_course .item_5::before {
        content: '';
        position: absolute;
        width: calc(100% + 2%);
        height: calc(100% + 2%);
        border-radius: 0.5em;
        z-index: -1;
        background-image: linear-gradient(60deg, #E8C8BD, #150001, #370000, #150001, #370000, #150001, #E8C8BD);
        background-size: 300%;
        animation: animate_bg 5s infinite;
    }
    
    @keyframes animate_bg {
        0%, 100% {
            background-position: 0%, 50%;
        }
    
        50% {
            background-position: 100%, 50%;
        }
    }

    .container, .container_course {
        height: 92.5vh;
    }
    .container_main, .container_course_main {
        height: calc(92.5vh - 7.5vh);
        margin-top: 5vh;
    }
    .wrapper {
        text-align: center;
        font-size: 1.5em;
        border-radius: 0.5em;
    }
    .card1, .card3, .card4, .card5 {
        background: rgba(255, 255, 255, 0);
        box-shadow: 0 8px 32px 0 rgb(75 70 70 / 51%);
        /* backdrop-filter: blur( 11px ); */
        /* -webkit-backdrop-filter: blur( 11px ); */
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    .card1 {
        justify-content: center;
        width: calc(100vw - 2em - (100vw - 2em - 66vw));
        grid-column: 2;
        height: 80vh;
        margin-top: 6vh;
    }  
    .card2 {
        grid-column: 1;
        grid-row: 1 / span 3;
        width: calc(100vw - 2em - 66vw);
        background-color: rgba(0, 0, 0, 0);
    }
    .card2 .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(95vh - 1em);
        margin: auto;
    }
    .logo h1, .logo h3 {
        font-family: 'Bodoni Moda', serif;
        -webkit-user-select: none;
    }
    .logo h1 {
        font-size: 1.5em;
        background-color: #E8C8BD;
        color: transparent;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
    }
    .logo h3 {
        color: #e8c8bd63;
    }
    .logo img {
        -webkit-user-select: none;
        filter: invert(0.9);
    }
    .card5 {
        grid-column: 2 / span 2;
        grid-row: 3;
        width: calc(100vw - 2em - (100vw - 2em - 66vw));;
    }
    footer {
        display: flex;
        height: 5vh;
        justify-content: center;
        background-color: #e8c8bd0f;
    }
    footer p {
        align-self: center;
        font-family: 'SF Pro Display';
        font-size: 10px;
        color: #f1faee;
    }
    .box {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 6em;
        height: 3em;
        box-sizing: border-box;
        overflow: hidden;
        box-shadow: 0px 0px 18px #fbf5dea1;
        border: 1px solid #e8c8bdde;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }  
    .box:before {
        content: '';
        position: absolute;
        top: 0;
        left: -10em;
        width: 10em;
        height: 4em;
        background: rgb(103 78 74);
        transition: 0.5s;
        pointer-events: none;
    }
    .box:hover:before {
        left:-50%;
        transform: skewX(-5deg);
    }
    .box .content {
        position:absolute;
        top:15px;
        left:15px;
        right:15px;
        bottom:15px;
        border:1px solid #f0a591;
        padding:20px;
        text-align:center;
        box-shadow: 0 5px 10px rgba(9,0,0,0.5);    
    }
    .box span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        box-sizing: border-box;
    }
    .box span:nth-child(1) {
        transform:rotate(0deg);
    }
    .box span:nth-child(2) {
        transform:rotate(180deg);
    }
    .box span:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: #e8c8bd;
        animation: animate 3s linear infinite;
        left: 0;
    }
    .box .carousel-item__btn {
        color: #ccbb9f;
        width: 100%;
    }
    @keyframes animate {
        0% {
            transform:scaleX(0);
            transform-origin: left;
        }
        50% {
            transform:scaleX(1);
            transform-origin: left;
        }
        50.1% {
            transform:scaleX(1);
            transform-origin: right;
        }        
        100% {
            transform:scaleX(0);
            transform-origin: right;
        } 
    }
    /* Bartenders page */
    .container_bartender {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(0,0,0,0);
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-blend-mode: saturation;
    }
    .row_1, .row_2, .row_2_bartending, .row_3{
        width: 100%;
        background: rgb(255, 255, 255);
    }
    .row_1 {
        height: 92.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .row_1 h1 {
        font-size: 8em;
        background: -webkit-linear-gradient(#210C0B, rgb(7, 158, 178));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'SF Pro Display';
    }
    .row_2 {
        height: 95vh;
    }
    /*  */
}