<!DOCTYPE html>
<html lang="ru">
    <head>
        <!--Кодировка-->
        <meta charset="UTF-8">
        <!--Адаптивность. User-scalable=0 запрещает зумить на Android-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <!--Краткое описание страницы для поисковых плтаформ (до 140 символов)-->
        <meta name="description" content="">
        <!--Ключевые слова для поисковых платформ (до 20 слов через запятую)-->
        <meta name="keywords" content="">
        <!--Мета теги в случае репоста страницы сайта на Facebook-->
        <!--Локализация сайта. Для русскоязычного сайта - ru_RU-->
        <meta property="og:locale" content="ru_RU">
        <meta property="og:type" content="aticle">
        <!--Какой заголовок сайта при репосте-->
        <meta proprety="og:title" content="">
        <!--Описания страницы при репосте-->
        <meta property="og:descritpion" content="">
        <!--Ссылка на изображение, которое выводится при репосте (http-адрес нужно будет вставить с изображением)-->
        <meta property="og:image" content="">
        <!--Ссылка на конкретную страницу (тоже http-адрес указать для каждой страницы)-->
        <meta property="og:url" content="">
        <!--Название сайта при репосте-->
        <meta property="og:site_name" content="F&B Cartel">
        <!--Разрешение или запрет номер телефона делать ссылкой на звонок в iOS-->
        <meta name="format-detection" content="telephone=yes">
        <!--Данные о владельце/авторе страницы-->
        <meta name="Author" content="Alexeev Ivan">
        <meta name="Copyright" content="Alexeev Ivan">
        <meta name="Address" content="">

        <!--Эту строчку добавить только на страницу 404 - она позволяет выполнить редирект на главную, если вылезла 404-->
        <!--<meta http-equiv="refresh" content="3, url=index.html"-->
        

        <link rel="stylesheet" href="../../static/css/style.css">
        <link rel="stylesheet" href="../../static/css/bartenders_course.css">
        <link rel="stylesheet" href="../../static/css/bartenders_course_responsive.css">
        <link rel="stylesheet" href="../../static/css/modal.css">
        <link rel="stylesheet" href="../../static/css/slider.css">
        <link rel="stylesheet" href="../../static/css/fonts.css">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

        <link rel="icon" type="image/vnd.microsoft.icon" href="img/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="img/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/favicon.ico">
        <link rel="icon" sizes="128x128" href="img/favicon.ico">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <style>
            .material-symbols-outlined
            {
                font-variation-settings:
                    'FILL' 0,
                    'wght' 100,
                    'GRAD' 200,
                    'opsz' 48;
                font-size: 48px;
            }
        </style>

        <title>
            F&amp;B Cartel
        </title>

    </head>
    <body>
        <div class="header" id="myHeader">
            <ul>
                <li>
                    <a href="{% url 'index' %}">
                        <span>
                            Главная
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'index' %}">
                        <span>
                            Курсы
                        </span>
                    </a>
                </li>
                <li class="call_number">
                    <a href="tel:+375-44-7506008" class="call_number">
                        <span>
                            + 375 (44) 750 - 60 - 08
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div id="myNav" class="overlay">
            <div class="overlay-content">
                <li>
                    <a href="{% url 'index' %}">
                        <span>
                            Главная
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'index' %}">
                        <span>
                            Курсы
                        </span>
                    </a>
                </li>
                <li class="call_number">
                    <a href="tel:+375-44-7506008" class="call_number">
                        <span>
                            + 375 (44) 750 - 60 - 08
                        </span>
                    </a>
                </li>
            </div>
        </div>
        <div id="navMenu" onclick="myFunc()">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="container_bartender">
            <div class="row_1">
                <h1>The Art of Bartending - это:</h1><br>
                <h1 class="textChange">
                    <div class="textChange__container">
                        <div class="textChange__sprite">
                            <b>собственный учебный центр - Jel'sa</b>
                            <b>180 часов обучения</b>
                            <b>100 часов практики</b>
                            <b>84 часа стажировки</b>
                            <b>стоимость - 199 $</b>
                            <b>отсутствие конвертов при оплате</b>
                            <b>лучшие условия обучения в стране</b>
                            <b>изучение профессии изнутри</b>
                            <b>современный материал</b>
                            <b>стажировка в Jel'sa</b>
                            <b>помощь в трудоустройстве</b>
                            <b>обучение на ранее недоступном уровне</b>
                        </div>
                    </div>
                </h1>
                <a class="scroll" href="#section_1">
                    <div class="chevron"></div>
                    <div class="chevron"></div>
                    <div class="chevron"></div>
                </a>
            </div>
            <div class="row_2_bartending" id="section_1">
                <div class="boxes">
                    <div class="box_small">
                        <span class="material-symbols-outlined">
                            payments
                        </span>
                        <h2>
                            Стоимость
                        </h2>
                        <p class="piece-count">
                            199 $
                        </p>
                        <span>&#183; Драматическая доступность при недоступном ранее качестве обучения</span><br>
                        &#183; Никаких конвертов: оплата производится на расчётный счёт посредством системы ЕРИП<br>
                        &#183; Стоимость определяется на основании курса НБРБ в день проведения платежа<br>
                    </div>
                    <div class="box_small">
                        <span class="material-symbols-outlined">
                            all_inclusive
                        </span>
                        <h2>
                            Практика
                        </h2>
                        <p class="piece-count">
                            &#8734;
                        </p>
                        Определение качества используемого стиля приготовления классического God Father возможно благодаря <strong>опыту</strong>.<br>
                        Он приходит с <strong>практикой</strong>.<br>
                        В нашей школе ощущениия недостаточного количества практики у Вас не возникнет.
                    </div>
                    <div class="box_small">
                        <span class="material-symbols-outlined">
                            diamond
                        </span>
                        <h2>
                            Преподаватели
                        </h2>
                        <p class="piece-count">
                            квинтэссенция опыта и знаний
                        </p>
                        Ведущие практикующие специалисты отрасли с опытом работы в:<br>
                        &#183; Jel'sa Karaoke Club &#183; Beijing Hotel<br>
                        &#183; Opera casino &#183; Vegas casino<br>
                        &#183; Imperial Cocktail Bar<br>
                        &#183; The Manor of the Vankovich
                    </div>
                </div>
                <div class="boxes">
                    <div class="box_small">
                        <span class="material-symbols-outlined">
                            collections_bookmark
                        </span>
                        <h2>
                            Сертификаты
                        </h2>
                        <p class="piece-count">
                            4 категории
                        </p>
                        Plata &#183; Oro &#183; Argent &#183; Clasico<br>
                        Когда Вы ищете курс не для получения «бумажки» - тогда следует выбрать нас.<br>
                        Когда для Вас важен близкий к искусству по качеству исполнения элемент, подтверждающий знания - также следует выбрать нас.
                    </div>
                    <div class="box_small">
                        <span class="material-symbols-outlined">
                            insights
                        </span>
                        <h2>
                            Перспектива
                        </h2>
                        <p class="piece-count">
                            становитесь лучшими
                        </p>
                        Единственный путь стать сильнее - работать в паре с более сильным напарником.<br>
                        Перефразирована цитата Э. Ласкера для того, чтобы описать нашу основную идею:<br>
                        <p class="piece-count">
                            «...дать толчок в развитии в перспективе более одарённым барменам, чем мы сами...»
                        </p>
                    </div>
                    <div class="box_small">
                        <span class="material-symbols-outlined">
                            auto_awesome
                        </span>
                        <h2>
                            Сервис
                        </h2>
                        <p class="piece-count">
                            высшего класса
                        </p>
                        Персонализированное обучение.<br>
                        Количество студентов в группе - <strong>не более 6</strong>.<br>
                        Индивидуальный подход к составлению графика прохождения стажировки.<br>
                        Возможность получения предложения о трудоустройстве в караоке Jel'sa или казино Opera.<br>
                    </div>
                </div>
            </div>
            <div class="row_3">
                <h1 class="title">План проведения занятий</h1>
                    <div class="slider" x-data="{start: true, end: false}">
                        <div class="slider__content" x-ref="slider" x-on:scroll.debounce="$refs.slider.scrollLeft == 0 ? start = true : start = false; Math.abs(($refs.slider.scrollWidth - $refs.slider.offsetWidth) - $refs.slider.scrollLeft) < 5 ? end = true : end = false;">
                            <div class="slider__item">
                                <div class="slider__info__main">
                                    <ul>
                                        <li>
                                            Совмещённые с лекциями практические блоки
                                        </li>
                                        <li>
                                            Отдельные 5-часовые занятия
                                        </li>
                                        <li>
                                            Миксология:
                                            <ul class="ul_additional">
                                                <li>
                                                    Работа с барным инвентарём
                                                </li>
                                                <li>
                                                    Работа за барной стойкой в команде
                                                </li>
                                                <li>
                                                    Оттачивание техники налива без использования мерной посуды
                                                </li>
                                                <li>
                                                    Приготовление смешанных напитков &amp; украшений &amp; премиксов
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            Декантация &amp; многое другое
                                        </li>
                                    </ul>
                                </div>
                                <img class="slider__image" src="../../static/img/card_1.png" alt="Practice">
                                <div class="slider__info">
                                    <h2>Практика</h2>
                                </div>
                            </div>
                            <div class="slider__item">
                                <div class="slider__info__main">
                                    <ul>
                                        <li>
                                            Проведение аттестационных испытаний
                                            <ul class="ul_additional">
                                                <li>
                                                    Командные тестовые испытания
                                                </li>
                                                <li>
                                                    Командные практические испытания
                                                </li>
                                                <li>
                                                    Проведение глобального конкурса среди выпускников
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            Подготовка к прохождению собеседований
                                        </li>
                                    </ul>
                                </div>
                                <img class="slider__image" src="../../static/img/card_2.png" alt="Certification">
                                <div class="slider__info">
                                    <h2>Аттестации</h2>
                                </div>
                            </div>
                            <div class="slider__item">
                                <div class="slider__info__main">
                                    <ul>
                                        <li>
                                            История возникновения бара
                                        </li>
                                        <li>
                                            Структура бара
                                        </li>
                                        <li>
                                            Типы заведений
                                        </li>
                                        <li>
                                            Имидж бармена
                                        </li>
                                        <li>
                                            Психология &amp; философия бармена
                                        </li>
                                        <li>
                                            Как стать лучшим и развиваться
                                        </li>
                                        <li>
                                            Холодильное оборудование
                                        </li>
                                        <li>
                                            Кофейное оборудование
                                        </li>
                                        <li>
                                            Винные и сигарные шкафы
                                        </li>
                                    </ul>
                                </div>
                                <img class="slider__image" src="../../static/img/card_3.png" alt="Prohibition">                                <div class="slider__info">
                                    <h2>1 & 2</h2>
                                </div>
                            </div>
                            <div class="slider__item">
                                <div class="slider__info__main">
                                    <ul>
                                        <li>
                                            Барный инвентарь
                                        </li>
                                        <li>
                                            Посуда
                                        </li>
                                        <li>
                                            Организация рабочего пространства
                                        </li>
                                        <li>
                                            Принятие заказа. Работа в команде
                                        </li>
                                        <li>
                                            Английский язык для бармена
                                        </li>
                                        <li>
                                            Практический блок
                                        </li>
                                    </ul>
                                </div>
                                <img class="slider__image" src="../../static/img/card_5.png" alt="Invenroty">
                                <div class="slider__info">
                                    <h2>This is a card</h2>
                                </div>
                            </div>
                            <div class="slider__item">
                                <div class="slider__info__main">
                                    <ul>
                                        <li>
                                            Греция &amp; Рим
                                        </li>
                                        <li>
                                            Старый Свет
                                        </li>
                                        <li>
                                            Новый Свет
                                        </li>
                                        <li>
                                            Искусство декантации
                                        </li>
                                        <li>
                                            Виды бутылок. Метрика
                                        </li>
                                        <li>
                                            Гастрономические сочетания блюд &amp; напитков.
                                        </li>
                                    </ul>
                                </div>
                                <img class="slider__image" src="../../static/img/card_4.png" alt="Wine">
                                <div class="slider__info">
                                    <h2>Белое и Красное</h2>
                                </div>
                            </div>
                            <div class="slider__item">
                                <div class="slider__info__main">
                                    <ul>
                                        <li>
                                            Розе
                                        </li>
                                        <li>
                                            Классификация игристых вин
                                        </li>
                                        <li>
                                            Шампанское вино
                                            <ul class="ul_additional">
                                                <li>
                                                    Определение &amp; история
                                                </li>
                                                <li>
                                                    Регионы &amp; техника производства
                                                </li>
                                                <li>
                                                    Выдежрка &amp; классификация
                                                </li>
                                                <li>
                                                    Правила хранения &amp; подачи
                                                </li>
                                                <li>
                                                    Сабраж
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            Практический блок
                                        </li>
                                    </ul>
                                </div>
                                <img class="slider__image" src="../../static/img/card_6.png" alt="Champagne">
                                <div class="slider__info">
                                    <h2>Шампанское</h2>
                                </div>
                            </div>
                            <div class="slider__item">
                                <div class="slider__info__main">
                                    <ul>
                                        <li>
                                            Аттестация
                                        </li>
                                        <li>
                                            Азбука пивоварения
                                        </li>
                                        <li>
                                            Практический блок
                                        </li>
                                    </ul>
                                </div>
                                <img class="slider__image" src="../../static/img/card_7.png" alt="Beer">
                                <div class="slider__info">
                                    <h2>Пиво</h2>
                                </div>
                            </div>
                            <div class="slider__item">
                                <div class="slider__info__main">
                                    <ul>
                                        <li>
                                            История возникновения
                                        </li>
                                        <li>
                                            Основные разновидности
                                        </li>
                                        <li>
                                            Коньяк | Арманьяк
                                            <ul class="ul_additional">
                                                <li>
                                                    Определение &amp; история
                                                </li>
                                                <li>
                                                    Регионы &amp; техника производства
                                                </li>
                                                <li>
                                                    Выдежрка &amp; классификация
                                                </li>
                                                <li>
                                                    Правила подачи
                                                </li>
                                                <li>
                                                    Напиток в миксологии
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            Остальные виноградные бренди
                                        </li>
                                        <li>
                                            Фруктовые бренди
                                        </li>
                                        <li>
                                            Хересные бренди
                                        </li>
                                        <li>
                                            Писко &amp; Ракы
                                        </li>
                                    </ul>
                                </div>
                                <img class="slider__image" src="../../static/img/card_8.png" alt="Brandy">
                                <div class="slider__info">
                                    <h2>Бренди</h2>
                                </div>
                            </div>
                            <div class="slider__item">
                                <div class="slider__info__main">
                                    <ul>
                                        <li>
                                            История возникновения
                                        </li>
                                        <li>
                                            Регионы производства
                                        </li>
                                        <li>
                                            Выдержка &amp; Классификация
                                        </li>
                                        <li>
                                            Основные производители
                                        </li>
                                        <li>
                                            Культура потребления
                                        </li>
                                        <li>
                                            Напиток в миксологии
                                        </li>
                                        <li>
                                            Сигарный символизм. Культура обращения с сигарами
                                        </li>
                                    </ul>
                                </div>
                                <img class="slider__image" src="../../static/img/card_9.png" alt="Whiskies">
                                <div class="slider__info">
                                    <h2>Виски сигара</h2>
                                </div>
                            </div>
                            <div class="slider__item">
                                <div class="slider__info__main">
                                    <ul>
                                        <li>
                                            История возникновения
                                        </li>
                                        <li>
                                            Основные разновидности
                                        </li>
                                        <li>
                                            Остальные напитки, рождённые из продуктов производства сахарного тростника
                                        </li>
                                    </ul>
                                </div>
                                <img class="slider__image" src="../../static/img/card_10.png" alt="Rum">
                                <div class="slider__info">
                                    <h2>Ром</h2>
                                </div>
                            </div>
                            <div class="slider__item">
                                <div class="slider__info__main">
                                    <ul>
                                        <li>
                                            Аттестация
                                        </li>
                                        <li>
                                            История возникновения
                                        </li>
                                        <li>
                                            Разновидности напитков, полученных из агавы
                                        </li>
                                        <li>
                                            Сервировка &amp; Культура потребления
                                        </li>
                                        <li>
                                            Мескаль &amp; Текила в миксологии
                                        </li>
                                    </ul>
                                </div>
                                <img class="slider__image" src="../../static/img/card_11.png" alt="Tequila">
                                <div class="slider__info">
                                    <h2>Текила</h2>
                                </div>
                            </div>
                            <div class="slider__item">
                                <div class="slider__info__main">
                                    <ul>
                                        <li>
                                            История возникновения
                                        </li>
                                        <li>
                                            Регионы производства
                                        </li>
                                        <li>
                                            Выдержка &amp; Классификация
                                        </li>
                                        <li>
                                            Основные производители Джина &amp; Женевера
                                        </li>
                                        <li>
                                            Культура потребления &amp; Сервировка
                                        </li>
                                        <li>
                                            Джин &amp; Женевер в миксологии
                                        </li>
                                    </ul>
                                </div>
                                <img class="slider__image" src="../../static/img/card_12.png" alt="Genever">
                                <div class="slider__info">
                                    <h2>Джин</h2>
                                </div>
                            </div>
                            <div class="slider__item">
                                <div class="slider__info__main">
                                    <ul>
                                        <li>
                                            Аттестация
                                        </li>
                                        <li>
                                            История возникновения &amp; Производство
                                        </li>
                                        <li>
                                            Основные производители
                                        </li>
                                        <li>
                                            Водка в миксологии
                                        </li>
                                        <li>
                                            Практический блок
                                        </li>
                                    </ul>
                                </div>
                                <img class="slider__image" src="../../static/img/card_13.png" alt="Vodka">
                                <div class="slider__info">
                                    <h2>Водка</h2>
                                </div>
                            </div>
                            <div class="slider__item">
                                <div class="slider__info__main">
                                    <ul>
                                        <li>
                                            История возникновения
                                        </li>
                                        <li>
                                            Основные разновидности
                                        </li>
                                        <li>
                                            Абсент &amp; Ликёры в миксологии
                                        </li>
                                    </ul>
                                </div>
                                <img class="slider__image" src="../../static/img/card_14.png" alt="Liqueur">
                                <div class="slider__info">
                                    <h2>Абсент &amp; Ликёры</h2>
                                </div>
                            </div>
                            <div class="slider__item">
                                <div class="slider__info__main">
                                    <ul>
                                        <li>
                                            Практические блоки
                                            <ul class="ul_additional">
                                                <li>
                                                    Приготовление премиксов
                                                </li>
                                                <li>
                                                    Приготовление коктейлей
                                                </li>
                                                <li>
                                                    Разработка технологических карт
                                                </li>
                                                <li>
                                                    Последовательность действий
                                                </li>
                                                <li>
                                                    Speed Mixixng
                                                </li>
                                                <li>
                                                    Техника налива без использования мерной посуды
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <img class="slider__image" src="../../static/img/card_15.png" alt="Practice">
                                <div class="slider__info">
                                    <h2>Практика</h2>
                                </div>
                            </div>
                            <div class="slider__item">
                                <div class="slider__info__main">
                                    <ul>
                                        <li>
                                            Техники приготовления
                                        </li>
                                        <li>
                                            Классификация
                                        </li>
                                        <li>
                                            Украшения &amp; Сиропы
                                        </li>
                                        <li>
                                            Классика IBA
                                        </li>
                                        <li>
                                            Авторские смешанные напитки
                                        </li>
                                        <li>
                                            Правила построения вкуса &amp; аромата
                                        </li>
                                        <li>
                                            Приготовление премиксов
                                        </li>
                                        <li>
                                            Handmade в баре
                                        </li>
                                        <li>
                                            Молекулярная миксология
                                        </li>
                                        <li>
                                            Оформление технологических карт
                                        </li>
                                    </ul>
                                </div>
                                <img class="slider__image" src="../../static/img/card_16.png" alt="Mixology">
                                <div class="slider__info">
                                    <h2>Миксология</h2>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <footer>
            <p>
                Лицензия © 2022 "Вокал Индастрит" ООО. Все права защищены.
            </p>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script type="text/javascript" src="../../static/js/bartenders_page.js"></script>
    </body>

</html>