<!DOCTYPE html>
<html lang="ru">
    <head>
        <!--Кодировка-->
        <meta charset="UTF-8">
        <!--Адаптивность. User-scalable=0 запрещает зумить на Android-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <!--Краткое описание страницы для поисковых плтаформ (до 140 символов)-->
        <meta name="description" content="">
        <!--Ключевые слова для поисковых платформ (до 20 слов через запятую)-->
        <meta name="keywords" content="">
        <!--Мета теги в случае репоста страницы сайта на Facebook-->
        <!--Локализация сайта. Для русскоязычного сайта - ru_RU-->
        <meta property="og:locale" content="ru_RU">
        <meta property="og:type" content="aticle">
        <!--Какой заголовок сайта при репосте-->
        <meta proprety="og:title" content="">
        <!--Описания страницы при репосте-->
        <meta property="og:descritpion" content="">
        <!--Ссылка на изображение, которое выводится при репосте (http-адрес нужно будет вставить с изображением)-->
        <meta property="og:image" content="">
        <!--Ссылка на конкретную страницу (тоже http-адрес указать для каждой страницы)-->
        <meta property="og:url" content="">
        <!--Название сайта при репосте-->
        <meta property="og:site_name" content="F&B Cartel">
        <!--Разрешение или запрет номер телефона делать ссылкой на звонок в iOS-->
        <meta name="format-detection" content="telephone=yes">
        <!--Данные о владельце/авторе страницы-->
        <meta name="Author" content="Alexeev Ivan">
        <meta name="Copyright" content="Alexeev Ivan">
        <meta name="Address" content="">

        <!--Эту строчку добавить только на страницу 404 - она позволяет выполнить редирект на главную, если вылезла 404-->
        <!--<meta http-equiv="refresh" content="3, url=index.html"-->
        

        <link rel="stylesheet" href="../../static/css/style.css">
        <link rel="stylesheet" href="../../static/css/modal.css">
        <link rel="stylesheet" href="../../static/css/slider.css">
        <link rel="stylesheet" href="../../static/css/fonts.css">

        <link rel="icon" type="image/vnd.microsoft.icon" href="img/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="img/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/favicon.ico">
        <link rel="icon" sizes="128x128" href="img/favicon.ico">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&display=swap" rel="stylesheet">

        <title>
            Bartending School
        </title>
    </head>
    <body>
        <div class="header" id="myHeader">
            <ul>
                <li>
                    <a href="{% url 'index' %}">
                        <span>
                            Главная
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'course' %}">
                        <span>
                            Курсы
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>
                            О нас
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>
                            Вопрос - ответ
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>
                            Аккаунт
                        </span>
                    </a>
                </li>
                <li class="call_number">
                    <a href="tel:+375-44-7506008" class="call_number">
                        <span>
                            + 375 (44) 750 - 60 - 08
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="container_course">
            <div class="item_1">
                <div class="content">
                    <p>

                    </p>
                    <p>
                        
                    </p>
                    <p>
                        
                    </p>
                    <p>
                        
                    </p>
                </div>
            </div>
            <div class="item_2">
                <div class="content">
                    <div class="line">
                        <a href="{% url 'bartender' %}">
                            Искусство работы в баре
                        </a>
                    </div>
                </div>
            </div>
            <div class="item_3">
                <div class="content">
                    <div class="line">
                        <a href="{% url 'bartender' %}">
                            Курсы «Интенсив»
                        </a>
                    </div>
                </div>
            </div>
            <div class="item_4">
                <div class="content">
                    <div class="line">
                        <a href="{% url 'bartender' %}">
                            Кейтеринг
                        </a>
                    </div>
                </div>
            </div>
            <div class="item_5">
                <div class="content">
                    <div class="line">
                        <a href="{% url 'bartender' %}">
                            Организация работы бара
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container_course_main">

        </div>
        <footer>
            <p>
                Лицензия © 2022 "Вокал Индастрит" ООО. Все права защищены.
            </p>
        </footer>

        <script src="../../static/vendor/jquery/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
        <script src="../../static/js/slider.js"></script>
        <script src="../../static/js/navbar.js"></script>

    </body>

</html>